<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egwallet.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.egwallet.app.EgWalletApplication"
        android:allowBackup="true"
        android:label="EG Wallet"
        android:theme="@style/Theme.EGWallet">

        <activity android:name="com.egwallet.app.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.egwallet.app.ui.main.MainActivity" />

    </application>
</manifest>
